@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #fff;
  }
}

@keyframes fillColour {
  0% {
    color: #fff;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #333;
  }
}

/*  MOBILE FIRST  */
/* /EVERYTHING/ */
nav {
  display: block;
  top: 10vh;
  bottom: 10vh;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 100;
  height: 80vh;
  left: 0;
  width: 15vh;
  font-weight: 300;
  font-size: 1rem;
  // 576px window width and more
  @include rwd(550) {
    width: 20%;
  }
  // 500 px window width and less
  @include rwdh(500) {
    overflow-y: scroll;
  }

  .logo {
    margin-top: 22.08588957055215%;
    padding: 0 9.815271555846378%;
    color: #fff;
    display: none;
    // 768px window width and more
    @include md {
      display: block;
    }
    // 992px window width and more
    @include lg {
      margin-top: 16.47597254004577%;
    }
  }

  .mini-logo {
    display: block;
    margin-top: 62.51116270762636%;
    color: #fff;
    // 500px window height and less
    @include rwdh(500) {
      margin-top: 18.75732708089097%;
    }
    // 768px window width and more
    @include md {
      display: none;
    }
  }

  .wrapper {
    margin: 15% auto;
    // height: 4.882971450893584%;  // max-dimension seem better
    // width: 52.08333333333333%; // max-dimension seem better
    max-width: 80px;
    max-height: 40px;
    /* 768px window width and more */
    @include md {
      margin-top: 10%;
    }
    /* 992px window width and more */
    @include lg {
      margin-top: 8%;
    }
  }

  ul {
    margin-top: 31.25325554745286%;
    text-align: center;
    margin-left: 0;
    list-style-type: none;
    height: 48vh;
    flex-direction: column;
    justify-content: space-around;
    // 500px window height and more
    @include rwdh(500) {
      margin-top: 26%;
    }
    // 992px window height and more
    @include lg {
      margin-top: 14%;
    }

    li {
      // margin: 10px 0px; //TRANSFER MARGIN TO A TAGS
      display: inline-block;
      width: 100%;
      // // 576px window width and more
      // @include md {
      //   margin: 25px 0px;
      // }
      &:last-of-type {
        margin-bottom: 40px;
      }

      a {
        padding: 15.62601731883586% 20.84636230977694%;
        text-decoration: none;
        letter-spacing: 0.5px;
        transition: color 2s, background-color 1s;
        position: relative;
        z-index: 0;
        font-size: 112.5%;
        color: #fff;
        display: block;
        width: 62.50930197946123%;
        margin: 0 auto;

        // 576px window width and more
        @include md {
          padding: 9.821038847664775% 9.81474665685192%;
          width: 80%;
          text-align: left;
        }

        // 992px window width and more
        @include lg {
          width: 62.50930197946123%;
          padding-top: 6.5%;
          padding-bottom: 6.5%;
        }

        &.active {
          background-color: #fff;
          color: #232323;
        }

        &:visited,
        &:active {
          color: #fff;
        }

        &::before {
          content: '';
          position: absolute;
          height: 0%;
          width: 0%;
          bottom: 0;
          left: 0;
          opacity: 1;
          z-index: -1;
        }

        &:hover {
          text-decoration: none;
          animation: fillColour 0.7s forwards ease-in-out;
          &::before {
            -webkit-animation: fill 0.7s forwards ease-in-out;
            animation: fill 0.7s forwards ease-in-out;
            opacity: 1;
          }
        }

        .fa {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          // 768px window width and more
          @include md {
            width: 25px;
          }
        }

        .nav-link {
          font-style: normal;
          margin-left: 5px;
          font-size: 14px;
          display: none;
          // 768px window width and more
          @include md {
            display: inline-block;
            margin-left: 12%;
          }
        }
      }
    }
  }
}
