/*
To make button truly responsive, first establish height and width
for the wrapper div. Then code all the numerical pixel values in
percentages given by the formula;

    (target size/context size)*100

I add comments besides the lines demonstrating this technique.
*/

$toggleHeight: 25px; /*Added this for size control*/
$toggleWidth: 50px; /*Added this for size control*/

.wrapper {
  margin: 0 auto;
  height: $toggleHeight;
  width: $toggleWidth;
}

#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%; /* 200px */
  height: 100%; /* 100px */
  background: #211042;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: 500ms;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  display: inline-block;
  top: 7%; /* (7px/$toggleHeight)x100 */
  left: 3%; /* (6px/$toggleWidth)x100 */
  width: 43%; /* (86px/$toggleWidth)x100 */
  height: 86%; /* (86px/$toggleHeight)x100 */
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgb(255, 255, 255);
  transition: all 500ms ease-out;
}

.crater {
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}

.crater-1 {
  background: #fffff9;
  width: 100%; /* (86px/86px)x100 */
  height: 100%; /* (86px/86px)x100 */
  left: 11.62790697674419%; /* (10px/86px)x100 */
  bottom: 11.62790697674419%; /* (10px/86px)x100 */
}

.crater-2 {
  width: 23.25581395348837%; /* (20px/86px)x100 */
  height: 23.25581395348837%; /* (20px/86px)x100 */
  top: -8.13953488372093%; /* (-7px/86px)x100 */
  left: 51.16279069767442%; /* (44px/86px)x100 */
}

.crater-3 {
  width: 18.6046511627907%; /* (16px/86px)x100 */
  height: 18.6046511627907%; /* (16px/86px)x100 */
  top: 23.25581395348837%; /* (20px/86px)x100 */
  right: -4.651162790697674%; /* (-4px/86px)x100 */
}

.crater-4 {
  width: 11.62790697674419%; /* (10px/86px)x100 */
  height: 11.62790697674419%; /* (10px/86px)x100 */
  top: 27.90697674418605%; /* (24px/86px)x100 */
  left: 34.88372093023256%; /* (30px/86px)x100 */
}

.crater-5 {
  width: 17.44186046511628%; /* (15px/86px)x100 */
  height: 17.44186046511628%; /* (15px/86px)x100 */
  top: 46.51162790697674%; /* (40px/86px)x100 */
  left: 55.81395348837209%; /* (48px/86px)x100 */
}

.crater-6 {
  width: 11.62790697674419%; /* (10px/86px)x100 */
  height: 11.62790697674419%; /* (10px/86px)x100 */
  top: 55.81395348837209%; /* (48px/86px)x100 */
  left: 23.25581395348837%; /* (20px/86px)x100 */
}

.crater-7 {
  width: 13.95348837209302%; /* (12px/86px)x100 */
  height: 13.95348837209302%; /* (12px/86px)x100 */
  bottom: 5.813953488372093%; /* (5px/86px)x100 */
  left: 40.69767441860465%; /* (35px/86px)x100 */
}

.star {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px rgb(255, 255, 255);
}

.star-1 {
  width: 3%; /* (6px/$toggleWidth*100) */
  height: 6%; /* (6px/$toggleHeight*100) */
  right: 45%; /* (90px/$toggleWidth*100) */
  bottom: 40%; /* (40px/$toggleHeight*100) */
}

.star-2 {
  width: 4%; /* (8px/$toggleWidth*100) */
  height: 8%; /* (8px/$toggleHeight*100) */
  right: 35%; /* (8px/$toggleWidth*100) */
  top: 10%; /* (10px/$toggleHeight*100) */
}

.star-3 {
  width: 2.5%; /* (5px/$toggleWidth*100) */
  height: 5%; /* (5px/$toggleHeight*100) */
  right: 30%; /* (60px/$toggleWidth*100) */
  bottom: 15%; /* (15px/$toggleHeight*100) */
}

.star-4 {
  width: 1.5%; /* (3px/$toggleWidth*100) */
  height: 3%; /* (3px/$toggleHeight*100) */
  right: 20%; /* (40px/$toggleWidth*100) */
  bottom: 50%; /* (50px/$toggleHeight*100) */
}

.star-5 {
  width: 2%; /* (4px/$toggleWidth*100) */
  height: 4%; /* (4px/$toggleHeight*100) */
  right: 5%; /* (10px/$toggleWidth*100) */
  bottom: 35%; /* (35px/$toggleHeight*100) */
}

.star-6,
.star-7,
.star-8 {
  width: 5%; /* (10px/$toggleWidth*100) */
  height: 2%; /* (2px/$toggleHeight*100) */
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.star-6 {
  right: 15%; /* (30px/$toggleWidth*100) */
  bottom: 30px; /* (30px/$toggleHeight*100) */
  animation-delay: -2s;
}

.star-7 {
  right: 25%; /* (50px/$toggleWidth*100) */
  bottom: 60%; /* (60px/$toggleHeight*100) */
}

.star-8 {
  right: 45%; /* (90px/$toggleWidth*100) */
  top: 10%; /* (10px/$toggleHeight*100) */
  animation-delay: -4s;
}

@keyframes travel {
  0% {
    transform: rotate(-45deg) translateX(70px);
  }

  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }

  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 1%;
    height: 2%;
    opacity: 0;
    box-shadow: none;
  }
}

#hide-checkbox:checked + .toggle {
  background: #24d7f7;
}

#hide-checkbox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(118%);
  box-shadow: 0 0 35px 5px rgb(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
  width: 20%;
  height: 10%;
  border-radius: 10px;
  background: #fff;
  left: 10%;
  top: 25%;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
  width: 6%;
  height: 12%;
  background: #fff;
  left: 13%;
  top: 23%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
  width: 8%;
  height: 16%;
  background: #fff;
  left: 17.5%;
  top: 19%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
  width: 7%;
  height: 14%;
  background: #fff;
  left: 23%;
  top: 21%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
  width: 30%;
  height: 15%;
  border-radius: 15px;
  background: #fff;
  left: 15%;
  bottom: 20%;
  box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
  width: 9%;
  height: 18%;
  background: #fff;
  border-radius: 50%;
  left: 19%;
  bottom: 20%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
  width: 12%;
  height: 24%;
  background: #fff;
  border-radius: 50%;
  left: 26%;
  bottom: 20%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
  width: 10.5%;
  height: 21%;
  background: #fff;
  border-radius: 50%;
  left: 35%;
  top: 59%;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@keyframes move {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(-2px);
  }
}
